@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #121720;
  --secondary-color: #8EA8C3;
}


ion-icon {
  color: white;
  font-size: 40px;
}

ion-icon:hover {
  scale: 115%;
}